/* All Common CSS Start */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
ul,
ol {
  list-style-type: none;
}
a,
a:hover {
  display: inline-block;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img{
  width:100%;
}
/* All common CSS End */



/* Header Part Start */
.navbar{
  background: #f4f4f4;;
}
.nav-link{
  color:#666666;
  font-size:16px;
  font-weight: 600;
  transition:all linear .4s;
}
.nav-link:hover,.icons i:hover{
  color:orange;
}
.icons i{
   color:#666666;
  font-size:16px;
    transition:all linear .4s;
margin:0 5px;
}


/* Header Part End */





/* Banner Part Start */
.overlay{
  padding:150px 0;
  background:rgb(0, 0, 0,0.7);
}
.sliderone{
  
  background: url(../images/bannerone.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  position:relative;
}
.two{
  background: url(../images/bannertwo.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.three{
   background: url(../images/bannerthree.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

.left{
  position:absolute;
  left:20px;
  top:50%;
  z-index:1;
  color:orange;
  transform:translateY(-50%);
  font-size:30px;
}


.right{
  position:absolute;
  right:20px;
  top:50%;
    color:orange;
  transform:translateY(-50%);
  font-size:30px;

}
.bannerInfo h4{
  font-size:24px;
  color:orange;
   font-family: "Edu VIC WA NT Beginner", cursive;
 ;
}
.bannerInfo h3{
  font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 40px;
margin:30px 0;
color:white;
line-height: 40px;
}
.bannerInfo a{
padding:15px 25px;
color:aliceblue;
background: orange;
font-size:20px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;

}
/* Banner Part End */






/* Product Part Start */
.review{
  display:flex;
  justify-content: space-between;
}
.review h6,.review span{
  line-height:37px;
}
.star i{
  color:orange
}
.hoverIfect a{
  padding:7px 20px;
  background-color: cadetblue;
  color:white;
  border-radius: 20px;
}
.hoverIfect{
  display:flex;
  justify-content: space-between;
  margin-top: 15px;
  opacity:0;
  visibility: hidden;
  transition:all linear .4s;
}
.productInfo:hover .hoverIfect{
  opacity: 1;
 visibility: visible;
}
.productInfo .toma{
  display:none;
}


.productInfo:hover .tom{
  display:none;
}
.productInfo:hover .toma{
  display:block;
}
/* Product Part End */





/* Count Part Start */
#counterPart{
  padding:200px 0;
  margin-top:100px;

}

#counterPart{
  background:url(../images/all\ photos55.webp);
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
}
.boxes{
  display:flex;
  justify-content: space-between;
    column-gap: 20px;
  

}
.box{
  background-color: cadetblue;
   width:25%;
   height:50px;
  padding-top:10px;
  padding-left:10px;
  padding-bottom:70px;
  border-radius:10px;
  color:white;
  text-align: center;
}
/* Count Part End */




/* Header Part Start */
/* Header Part End */



/* Header Part Start */
/* Header Part End */



/* Header Part Start */
/* Header Part End */




/* Header Part Start */
/* Header Part End */